.WCContent, .x179 {
  border-top:0;
  background-image:none;
  background-color:transparent;
}
div.irNav {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #ccc;
  background-color:#e3e9ee;
}
div.irNav td.xp4,
div.irNav td.xp8,
div.irNav td.xpc,
div.irNav div.x1l6,
div.irNav td.xp6,
div.irNav td.xpa,
div.irNav td.xpe {
  background-image:none !important;
}
div.irNav div.x1l6 {
  border-left:0;
}
div.irNav div.x1a[theme=dark] {
  padding:0 5px;
}
div.irNav hr {
  display:none;
}
div.irNav table[id='T:infoUserMenuBar'] {
/*  display:none; */
}
div.irNav a[id='T:managePagesLink'] span {
  color:#666;
  font-size:11px;
}
table[id='T:j_id__ctru69pc7'] tbody tr td {
  width:0;
}
div[id='T:j_id__ctru11pc7::c']{
  top:30px !important;
}
