.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
.hide {display:none;}
body {
	background-color:transparent !important;
}
.WCContent, .x179,
.WCContent, .x178, 
div[id='T:wcCont'].x17b {
  border-top:0;
  background-image:none;
  background-color:transparent;
}
div.irNav {
/*
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:2px 2px 3px #777;
  -webkit-box-shadow:2px 2px 3px #777;
  border:1px solid #ccc;
  background-color:#e3e9ee;
*/
}
body.x11d {
  background-color:#ccc !important;
}
a[id='T:oc_3228768355region1:photoRefresher'],
div[id='T:pt_ps1::d'] {
  display:none;
}
div.irNav table:first-child td.xpe,
div.irNav table:first-child td.xp4 {
  background:url(../images/nav-ul.png) no-repeat 0 0 !important;
}
div.irNav table:first-child td.xpi,
div.irNav table:first-child td.xp8 {
  background:url(../images/nav-um.png) repeat-x !important;
}
div.irNav table:first-child td.xpm,
div.irNav table:first-child td.xpc {
  background:url(../images/nav-ur.png) no-repeat 0 0 !important;
}
div.irNav td.xpg,
div.irNav td.xp6 {
  background:url(../images/nav-ll.png) no-repeat 0 0 !important;
}
div.irNav td.xpk,
div.irNav td.xpa {
  background:url(../images/nav-lm.png) repeat-x !important;
}
div.irNav td.xpo,
div.irNav td.xpe {
  background:url(../images/nav-lr.png) no-repeat 0 0 !important;
}
div.irNav div.x1l9,
div.irNav div.x1l6 {
  border-left:1px solid #ccc;
  background-image:none !important;
  background:#dee4ea url(../images/nav-body.png) repeat-y top right !important;
}
div.irNav div.x1a[theme=dark] {
  padding:0 5px;
}
div.irNav hr {
  display:none;
}
div.irNav table[id='T:infoUserMenuBar'] {
/*  display:none; */
}
div.irNav a[id='T:managePagesLink'] span {
  color:#333;
  font-size:11px;
}
div.irNav a[id='T:managePagesLink']:hover span {
  color:#000;
}
div[id='T:j_id__ctru11pc7::c']{
  top:30px !important;
}
div[id='T:search'] {
  position:absolute;
  top:5px;
  left:5px;
}
div[id='T:secondaryTabSet'] table {
  margin:10px 0 0 -5px;
  width:184px;
}
div[id='T:secondaryTabSet'] table div.xh7 {
  display:none;
}
div[id='T:secondaryTabSet'] table tr td a {
  padding-left:15px;
}
div[id='T:secondaryTabSet'] table tr td {
  height:23px;
}
div[id='T:pt_psl3'],
div[id='T:pt_psl2::c'],
div[id='T:pt_psl2'],
div[id='T:pt_psl3::c'],
div[id='T:pt_ps1::f'],
div[id='T:pt_ps1'],
div[id='T:pt_psl6::c']{
  overflow:visible !important;
}
div[id='T:pt_ps1::f'] {
  margin-bottom:-3px !important;
}
div[id='T:secondaryTabSet'] table tr td a.p_AFSelected,
div[id='T:secondaryTabSet'] table tr td a:hover,
div[id='T:irmenu'] ul li:hover,
div[id='T:irmenu'] ul li a.selected {
  background: url(../images/nav-item-selected.png) repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(116,176,222)), color-stop(1, rgb(21, 128, 194)));
  font-weight:normal;
}
div[id='T:secondaryTabSet'] table tr td a:hover {
  text-decoration:none;
}
div[id='T:secondaryTabSet'] table tr td a.p_AFSelected span,
div[id='T:secondaryTabSet'] table tr td a:hover span {
  color:#fff;
  text-shadow:1px 1px 0 #666;
}
div[id='T:pt_pgl8'] {
  margin-left:-1px;
  overflow:hidden !important;
}
div[id='T:irmenu'] {
	position:absolute;
	top:36px;
	width:182px;
}
div[id='T:irmenu'] ul {
  margin:0 3px 0 -8px !important;
  padding:0 !important;
}
div[id='T:irmenu'] ul li {
  list-style-type:none;
}
div[id='T:irmenu'] ul li a {
  display:block;
  padding:5px 2px 5px 20px;
	overflow:hidden;
	text-overflow:ellipsis;
}
div[id='T:irmenu'] ul li a span {
  color:#000 !important;
  text-shadow:1px 1px 0 #fff;
}
div[id='T:irmenu'] ul li a:hover span,
div[id='T:irmenu'] ul li a.selected span {
  color:#fff !important;
  text-shadow:1px 1px 0 #666;
  text-decoration:none;
}
.dd {
  background: url(../images/nav-switcher-bg.png) repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), color-stop(1, rgb(230, 230, 230)));
  float:none !important;
  border:1px solid #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:2px 2px 8px #333;
  -webkit-box-shadow:2px 2px 8px #333;
  text-shadow:1px 1px 0 #fff;
}
#group-switcher,
#gs_msdd {
  width:168px !important;
}
#gs_child {
  width:168px !important;
  background:#333;
  opacity:.9;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:4px 4px 4px #333;
  -webkit-box-shadow:4px 4px 4px #333;
}
#gs_child a {
  color:#fff;
  text-shadow:1px 1px 0 #000;
}
#gs_child a.selected,
#gs_child a:hover {
  text-shadow:1px 1px 0 #666;
  background: url(../images/nav-item-selected.png) repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(116,176,222)), color-stop(1, rgb(21, 128, 194)));
}
#gs_titletext {
  color:#333;
  font-weight:bold;
}
#gs_arrow {
}
div[id='T:pt_psl5::t'] {
  height:25px !important;
}
div[id='T:pt_ps1::s'] {
  left:197px !important;
}
div[id='T:pt_psl5::c'] {
  /*top:22px !important;*/
}
div[id='T:pt_db1'] {
  margin:0 !important;
}
span[id='T:secondaryTabSet::oc'] {
  margin-left:15px;
}
span[id='T:secondaryTabSet::oc'] span.xhf {
  display:none;
}
span[id='T:secondaryTabSet::oc'] a.xfc {
  padding:2px 10px 8px 10px;
  margin: 0 3px 0 0;
  background:#fafafc;
  border:1px solid #ccc;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-box-shadow:1px 1px 2px #999;
  text-shadow:1px 1px 0 #fff;
}
span[id='T:secondaryTabSet::oc'] a.p_AFSelected {
  background:#e4e4e4;
}
table[id='T:pt_pgl2'] {
  padding:0 10px !important;
}
table[id='T:pt_pgl2'] tbody tr td a {
  color:#333 !important;
  text-shadow:1px 1px 0 #fff;
}
table[id='T:pt_pgl7'] {
  margin-right:10px;
}
.x18u {
	background-color:transparent;
}
div[id='T:profileSnapShot::div2'] {
	background-color:transparent;
}
div[id='T:pt_db1::l'] {
	display:none;
}
div[id='T:pt_db1::c'] {
	left:0 !important;
}
div[id='T:pt_psl5::c'] {
	top: 23px !important;
}
a[id='T:irselectedspace'] {
	display:block;
  background: url(../images/nav-switcher-bg.png) repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), color-stop(1, rgb(230, 230, 230)));
  border:1px solid #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:2px 2px 8px #333;
  -webkit-box-shadow:2px 2px 8px #333;
  padding:5px;
  width:150px;
	overflow:hidden;
	text-overflow:ellipsis;
}
a[id='T:irselectedspace'] span {
  text-shadow:1px 1px 0 #fff;
  color:#333 !important;
  font-weight:bold;
}
a[id='T:irhomespace'],
a[id='T:irbrowsegroupspaces'],
div[id='T:irrecentgroupspaces'],
div[id='T:irgroupspaces'] {
	display:none;
	z-index:100;
}
div[id='T:act_splitter_div::d'],
div[id='T:act_splitter_div::s'] {
	background-color:#fff;
}
div[id='T:irgroupswitcher'] {
	position:absolute;
	background:transparent;
	z-index:100;
}
li#managepages a {
	border-top:2px groove #fff;
	margin:5px 21px;
	padding:7px 0;
}
img[id='T:irselectedspace::icon'] {
	width:16px;
	height:16px;
}
div#switcher {
	background-color:#333;
	opacity:.9;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	-moz-box-shadow: 3px 3px 5px #666;
	-webkit-box-shadow: 3px 3px 5px #666;
	margin:0 30px 0 0;
	padding:10px 10px 0 10px;
}
div#switcher h3 {
	margin:0 0 14px 0;
	border-bottom:2px ridge #777;
	color:#fff;
	text-shadow:2px 2px 0 #000;
	padding-bottom:5px;
}
ul.switch {
	margin:0;
	padding:0;
}
ul.switch li {
	float:left;
	list-style-type:none;
	margin:0 20px 0 0;
	padding:0;
	width:161px;
	height: 38px;
	overflow:hidden;
}
ul.switch li div.icon {
  float:left;
	margin-right:5px;
	width:16px;
}
ul.switch li div.gsitem {
  float:left;
	width: 140px;
	overflow:hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
ul.switch a {
  color:#fff;
	text-shadow:1px 1px 0px #000;
	text-decoration:none;
}
ul.switch a:hover {
	text-decoration:underline;
}
textarea[id='T:oc_7904462599region1:sit1::content'] {
	background-color:transparent !important;
	border:0 !important;
}
/*
vim:ts=2:sw=2
 */





