.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display:inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
body {
	overflow-x:hidden;
	overflow-y:auto;	
	/* background:#fff url(../images/pagefade.png) no-repeat fixed 645px top; */
}
.main{
	padding:0 10px;
}
#main-content {
	width:100%;
}
a, a:active, a:visited, a:link {
	text-decoration:none;
	border-bottom:1px dotted #ccc;
	color:#000;
}
a:hover, a:focus {
	border-bottom:1px solid #000;
}
a.no-underline, a.no-underline:active, a.no-underline:visited, a.no-underline:link {
	text-decoration:none;
	border-bottom:0;
}
#groupfiltercontainer {
	float:left;
	margin-bottom:10px;
}
span.refresh {
	float:right;
}
#refresh span{display:none}
#refresh, #refresh:hover, #refresh:focus {
	border-bottom:0;
	text-decoration:none;
	display:block;
	width:16px;
	height:16px;
	background:url(../images/arrow_refresh.png) no-repeat;
}
#loading-ind {
	position:fixed;
	bottom:20px;
	right:20px;
	height:43px;
	width:48px;
	background:url(../images/ss.gif) no-repeat;
}
img.avatar {
	-moz-box-shadow:2px 2px 5px #999;
	-webkit-box-shadow:2px 2px 5px #999;
}
td.avatar {
	width:50px;
	vertical-align: top;
}
td.activity {
	padding:0 0 10px 0;
	vertical-align: top;
}

#filters{
	margin-bottom:10px;
	clear:both;
}
ul.headnav {
	display:none;
	margin:2px 5px;
	text-align:right;
	height:20px;
}
ul.headnav li {
	float:right;
	list-style-type:none;
}
table.results {
	margin:-20px 0 0 0;
}
span.activity {
	font-size:12px;
	color:#666;
}
.reltime {
	color:#666;
	font-size:12px;
}
.detail {
	font-size:15px;
}
#header {
	margin:10px 0 0 0;
}
#publisher {
	position:relative;
	border: 1px solid red; 
	border:1px solid #ccc;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	-moz-box-shadow:2px 2px 10px rgba(0,0,0,.7);
	-webkit-box-shadow:2px 2px 10px rgba(0,0,0,.7);
	box-shadow:2px 2px 10px rgba(0,0,0,.7);
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=2px, Color='#666666'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=2px, Color='#666666')"; /* IE8 */	
	border:1px solid #ccc;
	padding:5px 10px;
	margin:10px 0;
	background: url(../images/pubbg.png) repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), color-stop(1, rgb(230, 230, 230)));
}
#pub1-share {
	text-shadow:#fff 1px 1px 0;
	color:#333;
	font-size:11pt;
	font-weight:bold;
	margin-bottom:5px;
}
table#pub-table {
	margin:0;
}
table#pub-table td {
	padding:0;
}
td.pub-share-textarea {
	width:100%;
	padding-right:15px !important;
  vertical-align:top;
}
td.pub-share-button {
  vertical-align:top;
	width:52px;
}
.pub1-dd {
	cursor:pointer;
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:0 3px 1px 3px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), color-stop(1, rgb(230, 230, 230)));
	-moz-box-shadow:0 0 5px #fff;
	-webkit-box-shadow:0 0 5px #fff;
}
#grouppub {
	vertical-align:middle;
}
#pub1-text textarea {
	float:left;
	margin:0;
	padding:4px 5px;
	width:99.5%;
	height:18px;
	font-size:11pt;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-box-shadow:0 0 3px #ccc;
	border:1px solid #999;
	background:#fff;
	resize:vertical;
}
input[type='submit'], input[type='button'], .button {
	float:left;
	color:#333;
	text-shadow:#fff 1px 1px 0;
	font-weight:bold;
	font-size:10pt;
	padding:3px 7px;
	margin:0;
	border:1px solid #999;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:url("../images/pubbg.png") repeat-x scroll 0 12px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), color-stop(1, rgb(194, 192, 191)));
	-moz-box-shadow:0 0 5px #fff;
	-webkit-box-shadow:0 0 5px #fff;
	width:52px;
	height:28px;
}
/*
button:hover, .button:hover {
color:#000 !important;
border:1px solid #666 !important;
-webkit-box-shadow:0 0 5px #999 !important;
}
 */
	#pub1-attachment {
		color:#333;
		text-decoration:none;
		text-shadow:#fff 1px 1px 0;
		padding-left:12px;
		background:url(../images/file.png) no-repeat 0 1px;
}
#pub1-attachment-descr {
	font-size:11px;
	color:#999;
}
#pub1-attachment:hover {
	text-decoration:underline;
}
.active-dd {
	background:#000;
	opacity:.7;
	border:0;
	color:#fff;
	text-shadow:#000 1px 1px 0 !important;
	-webkit-box-shadow:0 0 10px #000;
}
#pub1-group li {
	padding:0 2px;
	font-size:9pt;
	color:#fff;
	list-style-type:none;
	list-style-position:inside;
	text-shadow:#000 1px 1px 0;
}
#pub1-groups li:hover {
	border:0;
	background:#ccc;
	color:#000;
	text-shadow:#fff 1px 1px 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.list-option {
	margin-top:5px;
	border-top:1px solid #333;
}
.detail p {
	margin:5px 0;
}
#sidebar {
	position:fixed;
	left:650px;
}
.sidebar-widget {
	margin:0 0 0 10px;
}
.sb-widget-titlebar {
	background:url("../images/pubbg.png") repeat-x scroll 0 center transparent;
	-moz-border-radius:3px;
	-moz-box-shadow:1px 1px 5px #ccc;
	-webkit-border-radius:3px;
	-webkit-box-shadow:1px 1px 5px #ccc;
	border: 1px solid #CCCCCC;
	margin:10px 0 7px 0;
	padding:0 6px;	
}
.sb-widget-titlebar h4 {
	font-size:12px;
	font-weight:bold;
	margin:0;
	color:#333;
	text-shadow:#fff 1px 1px 0;
}
.sb-widget-body {
	padding:0 5px;
}
#sb-spaces ul {
	margin:0;
}
.sbspace {
	list-style-type:none;
}
.sbspaceicon, .sbspaceinfo {
	float:left
}
.sbspaceicon {
	width:30px;
}
.sbspaceinfo {
	width:165px;
}
.sbspaceinfo h5 {
	margin-bottom:0;
}
.sbspacedescr {
	margin-bottom:2px;
}
a.sbconnection {
	margin-right:2px;
	border-bottom:0;
	cursor:pointer;
}
a.sbconnection:hover {
	border-bottom:0;
}
#pub1-upload {
	position:relative;
}
#pub1-uploaderUploader {
	position:absolute;
	top:0;
	left:0;
}
.uploadifyQueueItem {
	width:588px;
}
.uploadifyProgress {
	width:92%;
	display:inline-block;
}
.uploadifyProgressBar {
	height:13px;
}
.uploadifyQueueItem .cancel {
	height:16px;
}
.uploadifyQueueItem .cancel a {
	border:0;
}
#pub1-uploaderQueue .fileMeta,
.uploadifyMeter {
	float:left;
	overflow:hidden;
	width:289px;
	padding:5px 5px 0 0;
}
.uploadifyError {
	border:0 !important;
}
#pub-notifications {
	position: absolute; 
	right: 13px;
	bottom:4px
}
#msg {
	padding:5px 10px;
	background:#ffffcc;
	border-bottom:1px solid #FFEE99;
	z-index:100;
	opacity:.9;
	width:100%;
}
img.inline {
	-moz-box-shadow:3px 3px 10px #999;
	-webkit-box-shadow:3px 3px 10px #999;
	box-shadow:3px 3px 10px #999;
}
a.inline {
	border-bottom:0;
}
#no-activities {
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	background:none repeat scroll 0 0 #F8F8F8;
	clear:both;
	color:#CCCCCC;
	font-size:16px;
	padding:10px;
	text-align:center;
	text-shadow:1px 1px #FFFFFF;
}
#fader {
	position:fixed;
	bottom:0;
	background:url(../images/fader.png) repeat-x;
	width:100%;
	height:48px;
}
div.youtube {
	position:relative;
	height:90px;
	width:120px;
}
img.playvid {
	position:absolute;
	left:22px;
	top:7px
}
.svwp {width: 50px; height: 20px; background: #fff;} /*preloader stuff. do not modify!*/
.svwp ul{position: relative; left: -999em;}/*preloader stuff. do not modify!*/
.slideViewer { 
	position: relative;
	overflow: hidden; 
	margin: 0;
	padding: 0;
	background: #fff;
}
.slideViewer ul {  /*your list of images*/
	position: relative;
	left: 0;
	top: 0;
	width: 1%;
	list-style-type: none;
	margin: 0; 
	padding: 0;
}
.slideViewer ul li {
	float:left;
}
div.slideViewer {
	-moz-box-shadow:3px 3px 10px #999;
	-webkit-box-shadow:3px 3px 10px #999;
	box-shadow:3px 3px 10px #999;
}
/*typographic info*/
.slideViewer span.typo{ 
	padding: 6px; /* do not modify padding */
	background: #fff;
	color: #000;
	font: normal 10px Verdana;
}

.thumbSlider { /*the thumbnails slider*/
	overflow: hidden;
	width: 1%;
	background: #fff;
}
.thumbSlider ul { 
	list-style-type: none;
	margin: 0; 
	padding: 0;
}
.thumbSlider ul li{ 
	float:left;
	margin: 0;
}
.thumbSlider a{
	color: #fff;
	text-decoration: none;
}
.thumbSlider a img{
	border: 0;
	display: block;
	padding: 0;
}
.thumbSlider p.tmbrdr { /* the border above -not around- each thumb */
	/* width, height and top values are dynamically added by the script. Do not modify. */
	position:relative; 
	left: 0;
	font-size: 0.01em;
	left: 0;
	margin: 0;
	padding: 0;
}

a.left, a.right { /*the left and right buttons (links)*/
	background: transparent; /* could be any color  */
	color: #ff0000;
	font: bold 16px Arial;
	overflow: hidden;
	border:0;
}
a.left span, a.right span{

}
a.left img, a.right img{
	border: 0;
}
a.l_dis, a.r_dis {
	background: transparent; /* ALWAYS leave transparent. this is the 'disabled' state of the link !  */
	cursor: default;
}
a.l_dis span, a.r_dis span {
	display: none;
}
a:focus {outline:none;}
div.swvp {
  margin-top:10px;
}
img.slide {
  cursor:pointer;
}

/*
vim:ts=2:sw=2
 */
